body {
  margin: 0;
  letter-spacing: 0.4px;
  color: #555;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #232323;
}

h2, h3, h1, p {
  margin: 0;
}

.ui-layout {
  display: flex;
}

.ui-box {
  width: 600px;
  background: #2C2C2C;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 6px #1d1c1c;
  margin: 10px;

  position: relative;
}

.glass-card:before {
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    background: inherit;
}

.ui-sidebar {
  width: 160px;
  background: #2C2C2C;
  height: 0;
  position: fixed;
  box-shadow: 15px 0px 10px -15px #111;
  border-bottom: 1px solid #232323;
}

.ui-sidebar-animate {
  height: 100vh;
  transition: height 1.7s ease;
}

.ui-sidebar-animate .ui-logo-box {
  opacity: 1;
  transition: opacity 1.8s ease-in;
}

.ui-sidebar-animate .ui-vertical-menu a {
  opacity: 1;
  transition: opacity 1.8s ease-in;
}

.ui-logo-box {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ui-logo-small {
  width: 90px;
  height: 90px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 6px #1d1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-logo-small-image {
  max-width: 60px;
  max-height: 60px;
}

.ui-vertical-menu {
  a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 16px 10px 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 20px;
    opacity: 0;
    &:hover {
      transition: background 0.3s ease;
      background: #222;
    }
  }
  img {
    margin-right: 20px;
    width: 22px;
  }
}

.ui-settings-box {
  position: absolute;
  bottom: 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #222;
  img {
    width: 35px;
    height: 35px;
    margin-right: 0;
  }
}

.ui-center-content {
  background: #212121;
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 150px);
  margin-left: 160px;
  margin-top: 140px;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.ui-projects-label {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 52px;
  color: #ffffff;
  font-weight: 600;
}

.ui-sidebar-gray-label {
  color: #aaa;
  font-weight: 600;
  font-size: 11px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.active {
  border-right: 2px solid #dadada;
  background: #222;
}

/**/

.ui-icon-box-container {
  display: flex;
  justify-content: space-between;
}

.ui-small-icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  height: 400px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 5px;
  background: #2C2C2C;
  color: white;
  padding: 20px;
}

.small-icon-box-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-icon-box-image-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.small-icon-box-label {
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
  width: 100%;
  text-align: center;
}

.small-icon-box-lower {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-icon-box-text {
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-size: 17px;
}

.icon-box-button {
  background: #212121;
  color: white;
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 12px 40px 12px 40px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-top: 25px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
}